@import '../../sass/base/index';

.dfo-select {
  font-size: 1.8rem;

  + * {
    margin-top: $padding-medium;
  }

  + .dfo-expand {
    margin-top: $padding-small;
  }

  label {
    margin-bottom: $padding-small;
    font-weight: 600;
    color: $primary;
    display: block;
  }

  select {
    padding: 1.8rem 2.6rem;
    outline: 0;
    border: 2px solid $primaryLight;
    box-sizing: border-box;
    appearance: none;
    background: white url('./select.svg') no-repeat calc(100% - 2.6rem) center;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 1px $primaryLight;
    }
  }
}
