@import "../_core/_index";

.dfo-form {
  background-color: $darkbackground;
  max-width: $form-max-width;
  width: 100%;
  margin-bottom: $element-gap;
}

// .signup__button {
//   background-color: $tertiary;
//   color: white;
//   padding: 11px 20px 11px 20px;
//   font-weight: bold;
//   cursor: pointer;
//
//   &:focus {
//     outline: 0;
//   }
// }

textarea,
input,
select {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  border: 2px solid $border;
  margin: $padding-small 0;
  outline-color: transparent;
  outline-style: none;
  background-color: #fff;
  padding: $padding-small;

  &:focus,
  &:hover {
    border-color: $primary;
  }
}

label:not([class]) {
  font-size: 1.6rem;

  > select:not([class]) {
    margin-top: 0;
  }
}

textarea,
input {
  width: 100%;
}

select {
  background: #fff url("/static/down_arrow.svg") no-repeat;
  background-position: center right 1rem;
  display: block;

  &:not([class]) {
    max-width: 350px;
  }
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus {
  -webkit-appearance: none;
}

.dfo-input {
  &__label {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    vertical-align: bottom;
    transform: translateY(-5px);
  }
  &__input {
    transform: translateY(-5px);
    padding: 11px;
    border-width: 2px;
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

// .registration__success {
//   font-weight: 600;
// }
