.dfo-factbox {
  @include block;
  border: 1px solid $secondary;
  width: 100%;
  display: block;
  padding: $padding-large;
  max-width: $content-max-width;

  @media screen and (max-width: $tablet) {
    padding: $padding-medium;
  }
}
