@use "sass:map";
@use "sass:string";
@use "../../sass/base/mixins";
@use "../../sass/base/colors";
@use "../../sass/base/sizes";

.dfo-factbox {
  @include mixins.block;
  border: 1px solid colors.$secondary;
  width: 100%;
  display: block;
  padding: sizes.$padding-large;
  max-width: sizes.$content-max-width;

  @media screen and (max-width: sizes.$tablet) {
    padding: sizes.$padding-medium;
  }
}
