@use '../sass/base/index' as base;

.dfo-factbox {
  @include base.block;
  border: 1px solid base.$secondary;
  width: 100%;
  display: block;
  padding: base.$padding-large;
  max-width: base.$content-max-width;

  @media screen and (max-width: base.$tablet) {
    padding: base.$padding-medium;
  }
}
