# Security: Always block scripts during npm install/npm ci
# You may also run 'npm install --ignore-scripts' to block scripts temporarily (then the line below should be commented out).
ignore-scripts=true