@import '../../sass/base/index';

.dfo-alertbox {
  background-color: $error;
  color: $textonprimary;
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dfo-alertbox__content {
  p {
    // remove line breaks caused by p tags.
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0.3em;
    a {
      color: inherit;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.dfo-alertbox__icon {
  height: 26px;
  margin-right: 5px;
}
