@use '../sass/base/index' as base;

$dangerColor: #e5243b;
$darkDangerColor: #890303;
$ctaColor: #008566;
$disabledColor: #cccccc;

.dfo-fab-button {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  transition: background-color 0.25s, border-color 0.25s;
  text-decoration: none;
  display: flex;
  flex-shrink: 0;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  background: base.$primaryLight;
  color: base.$background;
  border: 2px solid white;
  &:hover,
  &:focus {
    background-color: base.$secondary;
    border-color: base.$secondary;
    color: base.$background;
  }

  &:disabled {
    background-color: $disabledColor;
    border-color: $disabledColor;
    cursor: default;
  }

  &--danger {
    background: $dangerColor;
    color: base.$textonprimary;
    border-color: $dangerColor;

    &:hover,
    &:focus {
      background-color: $darkDangerColor;
      border-color: $darkDangerColor;
      color: base.$textonprimary;
    }
  }

  &--cta {
    background: $ctaColor;
    color: base.$textonprimary;
    border-color: $ctaColor;

    &:hover,
    &:focus {
      background-color: base.$secondary;
      border-color: base.$secondary;
      color: base.$textonprimary;
    }
  }

  &--invert {
    background: base.$blogBackground;
    color: base.$text;
    border-color: base.$text;

    &:hover,
    &:focus {
      color: base.$background;
      border-color: base.$text;
      background: base.$text;
    }
  }
  &--invert:hover path,
  &--invert:focus path {
    fill: base.$blogBackground;
  }
}

.fab-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fab-wrapper-absolute {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fab-content {
  size: 100%;
  align-self: flex-end;
}

.fab-button {
  align-self: flex-end;
}

.fab-button-icon {
  width: 80px;
}
