@use '@/sass/base/index';

.dfo-expand {
  padding: index.$padding-small 0;
  border-bottom: 1px solid index.$secondary;
  font-size: 1.8rem;

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;

    &:hover, &:focus {
      color: index.$secondary;
      outline: none;
    }
  }
}

.dfo-form__fieldset .dfo-expand {
  margin-left: index.$padding-small;
}
