@use "sass:map";
@use "sass:string";
@use "../../sass/base/colors";
@use "../../sass/base/sizes";

.dfo-expand {
  padding: sizes.$padding-small 0;
  border-bottom: 1px solid colors.$secondary;
  font-size: 1.8rem;

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;

    &:hover, &:focus {
      color: colors.$secondary;
      outline: none;
    }
  }
}

.dfo-form__fieldset .dfo-expand {
  margin-left: sizes.$padding-small;
}
