@use '../sass/base/index' as base;

.dfo-expand {
  padding: base.$padding-small 0;
  border-bottom: 1px solid base.$secondary;
  font-size: 1.8rem;

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;

    &:hover, &:focus {
      color: base.$secondary;
      outline: none;
    }
  }
}

.dfo-form__fieldset .dfo-expand {
  margin-left: base.$padding-small;
}
