@import "./sizes";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $text;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

figure img {
  max-width: 100%;
}

blockquote {
  color: $primary;
  font-size: 3.2rem;
}

cite {
  display: block;
  float: right;
  font-weight: 300;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}

html {
  // In order for all rem sizes to be multiples of 10 (1.2rem => 12px)
  font-size: 10px;
}

body {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  color: $text;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: $primary;

  &:hover {
    color: $secondary;
  }
}

p {
  margin: 0 0 2.5rem;
  line-height: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3 {
  color: $primary;
  margin: 0 0 0.125em;
  line-height: 1.25em;

  ol + &,
  ul + &,
  p + & {
    margin-top: $padding-large;
  }
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Source Serif Pro";
  font-weight: 700;
}

h1,
.h1 {
  font-size: 5rem;

  @media screen and (max-width: $tablet) {
    font-size: 5rem * 0.75;
  }

  @media screen and (max-width: $mobile) {
    font-size: 5rem * 0.6;
  }
}

h2,
.h2 {
  font-size: 2.2rem;

  @media screen and (max-width: $tablet) {
    font-size: 2.2rem * 0.9;
  }
}

h3,
.h3,
h4,
.h4 {
  font-size: 1.8rem;
}

h4,
.h4 {
  font-weight: 400;
}

h5,
.h5 {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 1.8rem;
}

ul,
ol {
  margin: $padding-medium 0;
  padding-left: $padding-large;
}

blockquote {
  margin: $padding-large 0;
}

/** @todo: Move this stuff 👇 elsewhere **/
.table__wrapper {
  overflow-x: auto;
  max-width: 100%;
}

table, .table {
  border: 0;
  border-color: $darkborder !important;
  border-top: 1px solid $darkborder;
  border-bottom: 1px solid $darkborder;
  border-collapse: collapse;

  font-size: 1.6rem;
  font-variant-numeric: lining-nums tabular-nums;
  text-align: left;
  font-weight: 400;

  caption {
    margin: $padding-xsmall 0;
    padding: $padding-medium;
    border-top: 1px solid $darkborder;
    font-size: 1.6rem;
    font-weight: 400;
  }

  td, th {
    padding: 1.25rem 3rem 1.25rem 1.25rem;
    line-height: 2.2rem;
  }

  th {
    font-weight: 800;
    vertical-align: top;
  }

  tfoot {
    border-top: 3px solid $darkborder;
  }

  &.table--striped {
    tbody {
      tr:nth-child(odd) td {
        background: rgba($secondary, 0.075);
      }
    }
  }

  &.table--with-borders {
    td, th {
      border: 1px solid $darkborder;
      padding: 1rem 1.5rem;
    }
  }
}
