@import "../../sass/base/index";

.dfo-radio-buttons {
  border: none;

  + * {
    margin-top: $padding-medium;
  }

  input {
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    border: 2px solid $border;
    margin: $padding-small 0;
    outline-color: transparent;
    outline-style: none;
    background-color: #fff;
    padding: $padding-small;
    &:focus,
    &:hover {
      border-color: $primaryLight;
    }
  }

  label,
  input {
    width: auto;
    display: inline-block;
  }
  
  label {
    margin-right: $padding-medium;
    cursor: pointer;
  }
  
  input {
    vertical-align: middle;
    width: 30px; 
    height: 30px;
    line-height: 30px;
    margin-right: 0.5rem;
    border-color: $primaryLight;
    border-radius: 50%;
    background-color: $background;
    position: relative;

    &:hover,
    &:checked {
      border-color: $primaryLight;
    }
    &:focus {
      border-width: 4px;
    }

    // Checked dot for a button.
    &:checked:after {
      content: "";
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $primaryLight;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
