@use '../sass/base/index' as base;

.dfo-radio-buttons {
  border: none;
  font-size: 1.8rem;

  + * {
    margin-top: base.$padding-medium;
  }

  + .dfo-expand {
    margin-top: base.$padding-small;
  }

  input {
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    border: 2px solid base.$border;
    margin: base.$padding-small 0;
    outline-color: transparent;
    outline-style: none;
    background-color: #fff;
    padding: base.$padding-small;
    &:focus,
    &:hover {
      border-color: base.$primaryLight;
    }
  }

  label,
  input {
    width: auto;
    display: inline-block;
  }

  label {
    margin-right: base.$padding-medium;
    cursor: pointer;
  }

  input {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 0.5rem;
    border-color: base.$primaryLight;
    border-radius: 50%;
    background-color: base.$background;
    position: relative;
    cursor: pointer;

    &:hover,
    &:checked {
      border-color: base.$primaryLight;
    }
    &:hover,
    &:focus {
      border-width: 4px;
    }

    // Checked dot for a button.
    &:checked:after {
      content: "";
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: base.$primaryLight;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
