
@use "sass:map";
@use "sass:string";
@use "../../sass/base/colors";
@use "../../sass/base/sizes";

@mixin block($lastChildZeroMargin:true) {
  margin-bottom: sizes.$padding-large;
  clear: both;

  @if $lastChildZeroMargin {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.table__wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: sizes.$padding-large 0;
  // Force scrollbars to show on Mac if the content is overflowing.
  // Source: https://stackoverflow.com/questions/7855590
  padding-bottom: sizes.$padding-xsmall;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    &:vertical {
      width: 5px;
    }
    &::horizontal {
      height: 5px;
    }
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid colors.$background; /* should match background, can't be transparent */
    background-color: colors.$darkborder;
  }
  &::-webkit-scrollbar-track {
    background-color: colors.$background;
    border-radius: 8px;
  }
}

table, tr, td, th {
  border: 0;
}

table, .table {
  border: 0;
  border-color: colors.$darkborder !important;
  border-top: 1px solid colors.$darkborder;
  border-bottom: 1px solid colors.$darkborder;
  border-collapse: collapse;

  font-size: 1.6rem;
  font-variant-numeric: lining-nums tabular-nums;
  text-align: left;
  font-weight: 400;

  caption {
    margin: sizes.$padding-xsmall 0;
    padding: sizes.$padding-medium;
    border-top: 1px solid colors.$darkborder;
    font-size: 1.6rem;
    font-weight: 400;
  }

  td, th {
    padding: 1.25rem 3rem 1.25rem 1.25rem;
    line-height: 2.2rem;
    vertical-align: top;
  }

  th {
    font-weight: 800;
  }

  thead {
    th {
      border-bottom: 4px solid colors.$darkborder;
      vertical-align: bottom;
    }
  }
}

.block {
  @include block;

  &--text {
    clear: initial;
    max-width: sizes.$mobile;
  }
}
