// Max-widths
$maxwidth: 1146px;
$global-width: $maxwidth;
$content-max-width: 705px;
$form-max-width: 560px;

// Breakpoints
$tablet: 750px;
$mobile: 420px;
$burgerMenuBreakpoint: 1000px;

// Paddings
$document-padding: 20px;
$document-padding-double: 40px;

$element-gap: 68px;

$padding-xxlarge: 8rem;
$padding-xlarge: 6rem;
$padding-large: 4rem;
$padding-semilarge: 3rem;
$padding-medium: 2rem;
$padding-small: 1rem;
$padding-xsmall: 0.6rem;
$padding-xxsmall: 0.3rem;
