.dfo-accordion {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dfo-accordion__panel--is-active .dfo-accordion-title {
  background-color: $primary;
  border-color: $primary;
  color: $background;
}

.dfo-accordion-title {
  background-color: $darkbackground;
  border-top: 1px solid $secondary;
  color: $text;
  padding: 1rem 2rem;
  font-weight: 600;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: left;
  line-height: 2.2rem;

  &__content {
    width: 100%;
    line-height: 1.5em;
    font-size: 18px;
  }
  &__arrow {
    margin-left: 4rem;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}

.dfo-accordion-content {
  padding: 2rem;
  background: $darkbackground;
  display: none;
  &--is-active {
    display: block;
  }
}
