@import "../../sass/base/index";

.dfo-form {
  background-color: $darkerbackground;
  max-width: $form-max-width;
  width: 100%;
  margin-bottom: $element-gap;
  padding: $padding-large;
}

.dfo-form-title {
  border-bottom: 1px solid $primaryLight;
  padding-bottom: $padding-small;
  margin-bottom: $padding-medium;
}

.dfo-form-submit-wrapper {
  background-color: $darkbackground;
  margin-left: -$padding-large;
  margin-right: -$padding-large;
  margin-bottom: -$padding-large;
  padding-top: $padding-large;
  padding-left: $padding-large;
  padding-bottom: $padding-large;
}

.dfo-form-fieldset {
  margin: 0;
  margin-left: -$padding-large;
  margin-right: -$padding-large;
  margin-bottom: $padding-small;

  padding-top: 0;
  padding-left: $padding-large;
  padding-right: $padding-large;
  padding-bottom: $padding-small;

  border: none;
  display: block;
  border-bottom: 2px solid $white;
  &:last-of-type() {
    border: none;
  }
}

.dfo-form-legend {
  color: $primary;
  padding-bottom: $padding-small;
}
