@import "../../sass/base/index";

.dfo-form {
  width: 100%;
  max-width: unset;
  margin-bottom: $element-gap;
  background-color: $darkerbackground;

  &__fieldset {
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding: $padding-large;

    @media screen and (max-width: $mobile) {
      padding: $padding-medium;
    }

    &:not(:first-of-type) {
      border-top: 5px solid $darkbackground;
    }

    &--reset-background {
      padding: 0;
      padding-top: $padding-medium;
      border: 0;
      background-color: $darkbackground;
    }
  }

  h2 {
    width: auto;
    margin: 0 $padding-large $padding-semilarge $padding-large;
    padding: $padding-large 0 $padding-semilarge;
    border-bottom: 1px solid $primary;

    @media screen and (max-width: $mobile) {
      margin-left: $padding-medium;
      margin-right: $padding-medium;
    }
  }

  legend {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: $text;
  }

  h3, .dfo-form__fieldset-title {
    width: auto;
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-bottom: $padding-medium;
    font-family: "Source Sans Pro";
    font-weight: normal;
  }
}
