@use "@/sass/base/index";

.dfo-form {
  width: 100%;
  max-width: unset;
  margin-bottom: index.$element-gap;
  background-color: index.$darkerbackground;

  &__fieldset {
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding: index.$padding-large;

    @media screen and (max-width: index.$mobile) {
      padding: index.$padding-medium;
    }

    &:not(:first-of-type) {
      border-top: 5px solid index.$darkbackground;
    }

    &--reset-background {
      padding: 0;
      padding-top: index.$padding-medium;
      border: 0;
      background-color: index.$darkbackground;
    }
  }

  h2 {
    width: auto;
    margin: 0 index.$padding-large index.$padding-semilarge index.$padding-large;
    padding: index.$padding-large 0 index.$padding-semilarge;
    border-bottom: 1px solid index.$primary;

    @media screen and (max-width: index.$mobile) {
      margin-left: index.$padding-medium;
      margin-right: index.$padding-medium;
    }
  }

  legend {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: index.$text;
  }

  h3, .dfo-form__fieldset-title {
    width: auto;
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-bottom: index.$padding-medium;
    font-family: "Source Sans Pro";
    font-weight: normal;
  }
}
