@import "../../sass/base/index";

.dfo-form {
  background-color: $darkbackground;
  max-width: $form-max-width;
  width: 100%;
  margin-bottom: $element-gap;
  padding: $padding-large;
}

.dfo-form-title {
  border-bottom: 1px solid $primaryLight;
  padding-bottom: $padding-small;
  margin-bottom: $padding-medium;
}
