@import "../../sass/base/index";

.dfo-form {
  width: 100%;
  max-width: unset;
  margin-bottom: $element-gap;
  background-color: $darkerbackground;

  &__fieldset {
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding: $padding-large;
    
    &:not(:first-of-type) {
      border-top: 5px solid $darkbackground;
    }

    &--reset-background {
      padding: $padding-large $padding-large 0 0;
      border: 0;
      background-color: $darkbackground;
    }
  }
  
  h2 {
    width: auto;
    margin: 0 $padding-large $padding-semilarge $padding-large;
    padding: $padding-large 0 $padding-semilarge;
    border-bottom: 1px solid $primary;
  }

  legend {
    font-size: 2.2rem;
    line-height: 2.2rem;
    color: $text;
  }
}
