@import "../_core/_index";

.dfo-checkbox {
  display: flex;
  align-items: center;
  color: $primary;
  cursor: pointer;
  padding-top: $padding-medium;
  padding-bottom: $padding-medium;
  white-space: nowrap;
  &__input {
    -webkit-appearance: none;
    box-shadow: none;
    border: 2px solid $border;
    margin: $padding-small 0;
    outline-color: transparent;
    outline-style: none;
    background-color: #fff;
    padding: $padding-small;
    position: relative;
    width: 2rem;
    height: 2rem;
    border-color: $secondary;
    background-color: #fff;
    margin-right: 10px;
    vertical-align: middle;
    &:checked {
      background: url("/tickmark.svg") no-repeat center center;
      background-size: 75%;
    }
    &:hover,
    &:focus {
      border-color: $primary;
    }
  }
  &__text {
    display: inline-block;
    white-space: normal;
  }
}
