@import '../../sass/base/index';

.dfo-button {
  font-size: 1.6rem;
  line-height: 1em;
  font-style: normal;
  font-weight: 400;
  transition: background-color 0.125s, border 0.125s;
  text-decoration: none;
  display: inline-block;
  padding: 0.85rem 2.5rem;
  flex-shrink: 0;

  border: 2px solid $primaryLight;
  background: $primaryLight;
  color: $background;
  cursor: pointer;

  &:first-child {
    margin-right: 1.5rem;
  }

  &:hover,
  &:focus {
    background-color: $secondary;
    border-color: $secondary;
    color: $background;
  }

  &--cta {
    background: $tertiary;
    color: $textonprimary;
    border-color: $tertiary;

    &:hover,
    &:focus {
      background-color: $secondary;
      border-color: $secondary;
      color: $textonprimary;
    }
  }

  &--invert {
    background: $blogBackground;
    color: $text;
    border-color: $text;

    &:hover,
    &:focus {
      color: $background;
      border-color: $text;
      background: $text;
    }
  }
}
