@import '../../sass/base/index';

.dfo-button {
  font-size: 1.6rem;
  line-height: 1em;
  font-style: normal;
  font-weight: 400;
  transition: background-color 0.125s;
  text-decoration: none;
  display: inline-block;
  padding: 0.85rem 2.5rem;
  flex-shrink: 0;

  background: $primaryLight;
  color: $background;
  cursor: pointer;

  &:first-child {
    margin-right: 1.5rem;
  }

  &:disabled {
    color: $grayText;
    background: $border;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $secondary;
      color: $background;
    }
  }

  &--cta {
    background: $tertiary;
    color: $textonprimary;

    &:not(:disabled) {
      &:hover,
      &:focus {
        background-color: $secondary;
        color: $textonprimary;
      }
    }
  }

  &--invert {
    background: $blogBackground;
    color: $text;
    border: 2px solid transparent;

    &:not(:disabled) {
      &:hover,
      &:focus {
        color: $text;
        background: $blogBackground;
        border: 2px solid $primary;
      }
    }
  }
}
