
@use "sass:map";
@use "sass:string";
@use "../../sass/base/colors";

$dangerColor: #e5243b;
$darkDangerColor: #890303;
$ctaColor: #008566;
$disabledColor: #cccccc;

.dfo-button {
  font-size: 1.8rem;
  line-height: 1em;
  font-style: normal;
  font-weight: 400;
  transition: background-color 0.25s, border-color 0.25s;
  text-decoration: none;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  flex-shrink: 0;

  border: 2px solid colors.$primaryLight;
  background: colors.$primaryLight;
  color: colors.$background;
  cursor: pointer;

  &:first-child {
    margin-right: 1.5rem;
  }

  &:hover,
  &:focus {
    background-color: colors.$secondary;
    border-color: colors.$secondary;
    color: colors.$background;
  }

  &:disabled {
    background-color: $disabledColor;
    border-color: $disabledColor;
    cursor: default;
  }

  &--danger {
    background: $dangerColor;
    color: colors.$textonprimary;
    border-color: $dangerColor;

    &:hover,
    &:focus {
      background-color: $darkDangerColor;
      border-color: $darkDangerColor;
      color: colors.$textonprimary;
    }
  }

  &--cta {
    background: $ctaColor;
    color: colors.$textonprimary;
    border-color: $ctaColor;

    &:hover,
    &:focus {
      background-color: colors.$secondary;
      border-color: colors.$secondary;
      color: colors.$textonprimary;
    }
  }

  &--invert {
    background: colors.$blogBackground;
    color: colors.$text;
    border-color: colors.$text;

    &:hover,
    &:focus {
      color: colors.$background;
      border-color: colors.$text;
      background: colors.$text;
    }
  }
}
