@use '../sass/base/index';

@mixin block($lastChildZeroMargin:true) {
  margin-bottom: index.$padding-large;
  clear: both;

  @if $lastChildZeroMargin {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dfo-container {
  margin: 0 index.$document-padding;
}

.dfo-footer {
  background-color: index.$primary;
  padding: index.$padding-xlarge 0;
  color: index.$textonprimary;

  &--compact {
    padding: index.$padding-large 0;
  }

  &__contact-wrapper {
    @media screen and (max-width: map-get(index.$breakpoints, 'medium')) {
      margin-top: index.$padding-large;
    }
  }

  &__contact {
    list-style-type: none;
    color: #fff;
    padding-left: 0;
    font-size: 1.8rem;
    margin: 0;

    & a {
      color: #fff;
    }
  }

  &__logo {
    margin-bottom: index.$padding-medium;
  }
}

.dfo-nav {
  @include block(false);

  &--nomargin {
    margin-bottom: 0;
  }

  &--light {
    color: #fff;

    .dfo-nav {
      &__item {
        a {
          color: #fff;

          &:hover {
            color: index.$secondary;
          }
        }
      }
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin-top: 1rem;

    &--no-margin {
      margin: 0;
    }
  }

  &__link {
    padding: index.$padding-small (index.$padding-medium + 2.2rem + index.$padding-large) index.$padding-small index.$padding-medium;
    text-decoration: none;
    color: index.$text;
    font-size: 1.8rem;
    display: block;
    position: relative;

    &:hover {
      color: index.$secondary;
    }

    &__symbol {
      position: absolute;
      top: index.$padding-small + 0.3rem;
      right: index.$padding-medium;
    }
  }

  &__item {
    border-bottom: 1px solid index.$secondary;
    font-weight: normal;
    cursor: pointer;

    &:first-child {
      border-top: 1px solid index.$secondary;
    }

    &:nth-last-child(1) {
      border-bottom: 1px solid index.$secondary;
    }
  }
}
