@use "sass:map";
@use "sass:string";
@use "../../sass/base/colors";
@use "../../sass/base/sizes";
@use "../../sass/base/mixins";

@mixin block($lastChildZeroMargin:true) {
  margin-bottom: sizes.$padding-large;
  clear: both;

  @if $lastChildZeroMargin {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dfo-container {
  margin: 0 sizes.$document-padding;
}

.dfo-footer {
  background-color: colors.$primary;
  padding: sizes.$padding-xlarge 0;
  color: colors.$textonprimary;

  &--compact {
    padding: sizes.$padding-large 0;
  }

  &__contact-wrapper {
    // @media screen and (max-width: map-get($breakpoints, 'medium')) { // $breakpoints is not defined in this context so commenting out to be able to compile when migrating to modern Sass.
    @media screen and (max-width: sizes.$tablet) { // Since size of medium breakpoint is not known here, we use $tablet from _sizes.scss as best guess.
      margin-top: sizes.$padding-large;
    }
  }

  &__contact {
    list-style-type: none;
    color: #fff;
    padding-left: 0;
    font-size: 1.8rem;
    margin: 0;

    & a {
      color: #fff;
    }
  }

  &__logo {
    margin-bottom: sizes.$padding-medium;
  }
}

.dfo-nav {
  @include block(false);

  &--nomargin {
    margin-bottom: 0;
  }

  &--light {
    color: #fff;

    .dfo-nav {
      &__item {
        a {
          color: #fff;

          &:hover {
            color: colors.$secondary;
          }
        }
      }
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin-top: 1rem;

    &--no-margin {
      margin: 0;
    }
  }

  &__link {
    padding: sizes.$padding-small (sizes.$padding-medium + 2.2rem + sizes.$padding-large) sizes.$padding-small sizes.$padding-medium;
    text-decoration: none;
    color: colors.$text;
    font-size: 1.8rem;
    display: block;
    position: relative;

    &:hover {
      color: colors.$secondary;
    }

    &__symbol {
      position: absolute;
      top: sizes.$padding-small + 0.3rem;
      right: sizes.$padding-medium;
    }
  }

  &__item {
    border-bottom: 1px solid colors.$secondary;
    font-weight: normal;
    cursor: pointer;

    &:first-child {
      border-top: 1px solid colors.$secondary;
    }

    &:nth-last-child(1) {
      border-bottom: 1px solid colors.$secondary;
    }
  }
}
