@use "sass:map";
@use "sass:string";
@use "../../sass/base/colors";
@use "../../sass/base/sizes";

$disabledColor: #dddddd;
$disabledBorderColor: #aaaaaa;

.dfo-input {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  color: colors.$primary;
  display: block;
  position: relative;

  + .dfo-expand {
    margin-top: sizes.$padding-small;
  }

  input {
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 2px solid colors.$primaryLight;
    margin: sizes.$padding-small 0;
    outline-color: transparent;
    outline-style: none;
    background-color: #fff;
    padding: sizes.$padding-medium;
    width: 100%;
  }

  input:hover,
  input:active,
  input:focus,
  label:focus {
    appearance: none;
    box-shadow: inset 0 0 0 1px colors.$primaryLight;
  }

  input:disabled {
    border-color: $disabledBorderColor;
    background-color: $disabledColor;
    box-shadow: none;
  }

  .dfo-error-wrapper {
    position: relative;

    &:before {
      width: 2px;
      content: "";
      background-color: transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -18px;
    }
  }

  &--is-error {
    margin-bottom: sizes.$padding-medium;

    .dfo-error-wrapper::before {
      background-color: colors.$error;
    }

    .dfo-error-wrapper__error {
      padding-left: sizes.$padding-small;
      font-weight: normal;
      font-style: italic;
    }
  }
}

.dfo-required-asterisk {
  color: colors.$error;
}
